#grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
}
#grid > div {
    font-size: 5vw;
    padding: 50px 50px 50px 200px;
    background: gold;
    justify-content: center;
    align-content: center;
}